:root {
    --bg: #fff;
    --back: #f8f4f0;
    --text: #000;
    --active: #fedd2c;
    --focus: #ffcc33;
}

body {
    min-width: 250px;
    padding: 0 2rem 2rem 2rem;
    background-color: var(--bg);
    margin: 0;
    font-family: "YS Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    outline: none;
    color: var(--text);
    word-wrap: break-word;
}

img {
    max-width: 100%;
}

a, a:hover, a:active, a:focus {
    color: inherit;
    text-decoration: none;
}

/* Forms */

input {
    appearance: none;
}

textarea {
    resize: none;
}

select {
    cursor: pointer;
    appearance: none;
}

button {
    background-color: var(--bg);
}

/* UI */

input,
textarea,
select,
button {
    border: 0;
    border-radius: .75rem;
    font: inherit;
}

/* Components */

.box,
.button,
.search,
.filters,
.boxes,
.cards {
    width: 100%;
    margin-top: 30px;
}

.box,
.button,
.search,
.filters *,
.boxes > div,
.cards div {
    border: 0;
    border-radius: .75rem;
}

.button,
.search,
.filters * {
    height: 54px;
    font-size: 1.5em;
}

.box,
.search,
.filters *,
.boxes > div,
.cards div {
    padding: 0 20px;
    box-shadow: 0 .25rem 1.5rem rgba(0, 0, 0, .12);
    transition-duration: 0.3s;
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;
}

.button,
.search,
.filters *,
.boxes > div,
.cards div {
    transition: all .3s cubic-bezier(0, 0, .5, 1);
}

.button:hover,
.search:hover,
.filters *:hover,
.boxes > div:hover,
.cards div:hover {
    transform: scale3d(1.01, 1.01, 1.01);
}

.box:hover,
.search:hover,
.search:focus,
.search:active,
.filters *:hover,
.boxes > div:hover,
.cards div:hover {
    box-shadow: 0 .75rem 2.25rem rgba(0, 0, 0, .2);
}

.button:first-child,
.search:first-child {
    margin-top: 20px;
}

.box:first-child,
.filters:first-child {
    margin-top: 10px;
}

.filters *,
.boxes > div,
.cards div {
    margin-left: 15px;
    padding: 0 20px;
    cursor: pointer;
}

.box {
    padding: 20px;
    background-size: cover;
    background-position: center center;
}

.box input,
.box textarea,
.box select,
.box button {
    width: 100%;
    background-color: var(--back);
    padding: .8em;
}

.box textarea {
    height: 15em;
}

.boxes > div {
    padding: 0;
    width: calc(100% / 3 - 15px);
    margin-top: 15px;
    display: inline-block;
    vertical-align: top;
}

.boxes > div > .image {
    /* margin: 5px 0 5px 5px; */
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: top;
    background-size: cover;
    background-position: center center;
    border-radius: 10px 0 0 0;
}

.boxes .body {
    padding: 10px 17px 5px 10px;
    display: inline-block;
    width: calc(100% - 100px);
    vertical-align: top;
}

.boxes .title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
}

.boxes .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: solid #e6e6e6 2px;
    padding: 7px 5px 10px 5px;
}

.boxes .footer div {
    display: flex;
    align-items: center;
}

.boxes .footer .image {
    background-size: cover;
    background-position: center center;
    width: 30px;
    height: 30px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 5px;
}

.button,
.active {
    background-color: var(--active);
    cursor: pointer;
}

.button:hover,
.active:hover {
    background-color: var(--focus);
}

.filters {
    width: calc(100% + 15px);
    margin: 0 0 -30px -15px;
    padding: 30px 0 30px 15px;
    display: flex;
    overflow-x: scroll;
}

.filters *:first-child {
    margin-left: 0;
}

.boxes,
.cards {
    width: calc(100% + 15px);
    margin: 15px 0 0 -15px;
}

.cards div {
    height: 15rem;
    line-height: 15rem;
    width: calc(100% / 3 - 15px);
    margin-top: 15px;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

@media (max-width: 1000px) {
    .boxes > div,
    .cards div {
        width: calc(50% - 15px);
    }
}

@media (max-width: 750px) {
    .boxes > div,
    .cards div {
        width: calc(100% - 15px);
    }
}
