.box,
.button,
.search {
    width: 100%;
    margin-top: 30px;
    border: 0;
    border-radius: 10px;
}

.box,
.search {
    padding: 20px;
    box-shadow: 0 .25rem 1.5rem rgba(0, 0, 0, .12);
    transition-duration: 0.3s;
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;
}

.button,
.search {
    height: 54px;
    font-size: 24px;
}

.box:hover,
.search:hover,
.search:focus,
.search:active {
    box-shadow: 0 .75rem 2.25rem rgba(0, 0, 0, .2);
}

.button:first-child,
.search:first-child {
    margin-top: 20px;
}

.box {
    background-size: cover;
    background-position: center center;
}

.box:first-child {
    margin-top: 10px;
}

.button {
    background-color: #fde000;
    cursor: pointer;
}

.button:hover {
    background-color: #eed500;
}

.search {
    font-size: 25px;
}
